<div style="width: 30%; padding: 4rem;">
    <div class="Card">
        <div class="card card--primary">
            <header class="card--header">Card Title</header>
            <div class="card--body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, dolorum?
            </div>
        </div>
        <div class="card card--secondary">
            <header class="card--header">Card Title</header>
            <div class="card--body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quos.</div>
        </div>
    </div>
</div>