<section class="block container block--domain">
    <header class="block__header">
        <h2>Starting at 15 coins per month</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, eaque.</p>
    </header>
    <div class="input-group container">
        <input type="text" class="input" placeholder="Enter domain name here..." />
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href="icons/sprite.svg#search"></use>
            </svg>Search</button>
    </div>
    <ul class="lists block-domain__prices">
        <li><span class="badge badge--secondary domain__badge">City</span></li>
        <li>Mount</li>
        <li>Racer</li>
        <li>All</li>
        <li>GU</li>
        <li>DU</li>
    </ul>
</section>