<section class="block block--dark block--skewed--left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Prestige of FAMILY's</h1>
            <p class="hero__tagline">Get a Luxarious, Joyfull, Speedy expirence for your family.</p>
            <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <picture>
            <source type="image/webp" srcset="Images/banner.webp 1x, Images/banner@2x.webp 2x">
            <source type="image/png" srcset="Images/banner.png 1x, Images/banner@2x.png 2x">
            <img class="hero__img" src="Images/banner.png" alt="Just for Decoration">
        </picture>
    </div>
</section>