<nav class="nav collapsible">
    <a class="nav__logo" href="/"><img src="icons/logo.svg" alt="Logo of Company."></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="icons/sprite.svg#menu"></use>
        <ul class="lists nav__list collapsible__content">
            <li class="nav__items"><a href="#">Docs</a></li>
            <li class="nav__items"><a href="#">Products</a></li>
            <li class="nav__items"><a href="#">Test Drive</a></li>
            <li class="nav__items"><a href="#">Sucess Story</a></li>
        </ul>
    </svg>
</nav>