<div class="Plan">
    <div class="Card">
        <div class="card card--primary">
            <header class="card--header">
                <h3 class="plan__name">Bussiness</h3>
                <span class="plan__prize">₹499</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--small badge--bussiness">15% OFF</span>
                <span class="plan__descripition">Kick Start for critical & smooth works.</span>
            </header>
            <div class="card--body">
                <ul class="lists list--tick">
                    <li class="list__items">Advanced GPS services</li>
                    <li class="list__items">Enhance security features</li>
                    <li class="list__items">Unlock of Sport III mode</li>
                    <li class="list__items">Mobile connect feature</li>
                </ul>
                <button class="btn btn--primary btn--block">Buy Now</button>
            </div>
        </div>
        <div class="card card--secondary">
            <header class="card--header">
                <h3 class="plan__name">Nominal</h3>
                <span class="plan__prize">₹199</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--small badge--nominal">10% OFF</span>
                <span class="plan__descripition">Easy Start for nominal works.</span>
            </header>
            <div class="card--body">
                <ul class="lists list--tick">
                    <li class="list__items">Nominal GPS services</li>
                    <li class="list__items">Enhance security features</li>
                    <li class="list__items">Unlock of Sport II mode</li>
                    <li class="list__items">Basic mobile connect features</li>
                </ul>
            </div>
            <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
    </div>
</div>