h1 {
    color: dodgerblue;
}

.Highlight {
    color: deepskyblue;
}

#Product {
    color: green;
}

h1#Product {
    color: blue;
}

.Featured #Product{
    color: darkblue;
}

